.container {
  max-width: 1400px;
  margin: 0 auto;
}

.debug {
  border: 1px red solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

.active {
  color: #0282f9;
  border-bottom: 8px solid #0282f9;
}

header {
  height: 120px;
  display: flex;
  padding: 20px 0;
}
header a:hover {
  color: #0282f9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}
nav #logo {
  width: 90px;
}
nav ul {
  line-height: 70px;
  height: 100%;
}
nav li {
  height: 120px;
  line-height: 120px;
}
nav li a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
  height: 100%;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
}

main {
  background-color: #1c1c1c;
  padding: 70px;
  color: #fff;
}
main .comics {
  display: flex;
  flex-wrap: wrap;
}
main .comics .card {
  width: 16.6666666667%;
  margin-bottom: 50px;
}
main .comics .card:hover {
  color: #0282f9;
}
main .comics .card:hover figure {
  border: 3px solid #0282f9;
}
main .comics figure {
  max-height: 186px;
  max-width: 186px;
  overflow: hidden;
  margin: 0px;
  border: 3px solid transparent;
}
main .comics figcaption {
  text-transform: uppercase;
  margin-top: 20px;
  width: 90%;
}

.banner {
  background-color: #0282f9;
  padding: 40px;
}
.banner .banner-icons {
  display: flex;
  justify-content: space-evenly;
}
.banner img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner .media-text {
  text-transform: uppercase;
  margin-left: 5px;
}
.banner a {
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.banner a:hover {
  transform: scale(1.1);
}
.banner #dc-power {
  width: 30%;
  margin-right: 5px;
}
.banner .media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 40px;
}
footer .row {
  display: flex;
}
footer .row .col {
  margin: 0 20px;
}
footer .row a:hover {
  color: #fff;
}
footer h3 {
  text-transform: uppercase;
}
footer #logo {
  position: absolute;
  top: -11%;
  left: 53%;
  width: 650px;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}
footer ul li a {
  color: gray;
  justify-self: start;
  margin: 5px 0;
}

#footer-bottom {
  background-color: #303030;
  padding: 50px;
}
#footer-bottom .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-bottom .footer-content .social {
  display: flex;
  align-items: center;
}
#footer-bottom .footer-content .social h3 {
  color: #0282f9;
  margin-right: 10px;
}
#footer-bottom .footer-content .social img {
  margin: 0 10px;
  transition: all 0.2s;
}
#footer-bottom .footer-content .social img:hover {
  transform: scale(1.1);
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 15px;
  color: #fff;
  border: 3px solid #0282f9;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #0282f9;
}